<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='Acerca de')"></head>

<body

<!-- Inserta el navbar -->
<div th:replace="fragments :: navbar"></div>
<div class="container-fluid">
    <div class="container-fluid">
        <h1>ToDoList</h1>
        <ul>
            <li>Desarrollada por Karina Arichavala </li>
			<li>Versión 1.1.0</li>
			<li>Fecha de release: 01/06/2025</li>
        </ul>
    </div>

</div>

<div th:replace="fragments::javascript"/>

</body>
</html>
