<!-- src/main/resources/templates/fragments.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <!-- Fragmento HEAD: ya lo tenías -->
  <head th:fragment="head (titulo)">
    <meta charset="UTF-8"/>
    <title th:text="${titulo}"></title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  </head>

  <!-- NUEVO: Fragmento NAVBAR -->
  <div th:fragment="navbar">
    <!-- Caso A: No hay usuario logueado -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light"
         th:if="${@managerUserSession.usuarioLogeado()} == null">
      <a class="navbar-brand" th:href="@{/about}">ToDoList</a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" th:href="@{/login}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/registro}">Registro</a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Caso B: Sí hay usuario logueado -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light"
         th:if="${@managerUserSession.usuarioLogeado()} != null">
      <a class="navbar-brand" th:href="@{/about}">ToDoList</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarContent">
        <!-- Enlace Tareas -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link"
               th:href="@{/usuarios/{id}/tareas(id=${@managerUserSession.usuarioLogeado()})}">
              Tareas
            </a>
          </li>
        </ul>

        <!-- Menú desplegable con Nombre de Usuario -->
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"
               href="#"
               id="userDropdown"
               role="button"
               data-toggle="dropdown"
               aria-haspopup="true"
               aria-expanded="false"
               th:text="${currentUser.nombre}">
              Usuario
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
              <a class="dropdown-item" th:href="@{/cuenta}">Cuenta</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" th:href="@{/logout}">
                Cerrar sesión (<span th:text="${currentUser.nombre}">Usuario</span>)
              </a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <!-- Fragmento JAVASCRIPT: ya lo tenías -->
  <div th:fragment="javascript">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
  </div>

</html>
